.login-card {
  width: 400px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 6rem;
}

.forgot-password-below {
  font-size: 0.9rem;
  color: #6c757d;
  text-decoration: none;
}

.forgot-password-below:hover {
  text-decoration: underline;
}

.register-link:hover {
  text-decoration: underline;
}

.privacy-button {
  font-size: 0.8rem; 
  color: grey; 
  text-decoration: none; 
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0;
  background: none;
  border: none;
}

.privacy-button:hover {
  color: darkgrey; 
  text-decoration: underline; 
}

.card-header {
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-footer {
  text-align: center;
}

.card-footer a {
  color: #6c757d;
}

.card-footer a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #23272b;
}


.recovery-card .forgot-password-below {
  display: none;
}

.recovery-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.recovery-card .card-footer a {
  display: block;
  margin-top: 15px;
  text-align: center;
}