.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .register-form div {
    margin-bottom: 15px;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .register-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .black-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .black-button:hover {
    background-color: #444;
  }
  
  .login-link {
    text-align: center;
    margin-top: 15px;
  }

  .privacy-button {
  font-size: 0.8rem; 
  color: grey; 
  text-decoration: none; 
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 0;
  background: none;
  border: none;
}

.privacy-button:hover {
  color: darkgrey; 
  text-decoration: underline; 
}