.carousel-section {
  background-color: #000;
  padding: 3rem 0;
  color: white;
  margin-top: 80px;
}

.carousel-section .custom.carousel{
  width: 1000px;
  display: flex;
  justify-content: center;
  
}